<div class="container-fluid">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <span class="navbar-brand mb-0 h1">E-Conference</span>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/conferences">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >Technology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </nav>
  <router-outlet>

  </router-outlet>
</div>

